<div class='profile-page'>
  <div class='profile-container'>
    <div class='profile-header'>
      <div class='profile-info'>
        <h1>@{{ user()?.username }}</h1>
        <p class='user-email'>{{ user()?.email }}</p>
      </div>
      <div class="profile-actions" *ngIf="posts().length">
        <button class="export-profile-btn" (click)="onExportProfile()">Export Journal</button>
      </div>
    </div>

    <div class='profile-content'>
      <h3>Your Dreams</h3>
      <app-post-list 
        [posts]='posts()' 
        [isLoading]='isLoading()'
        (listChanged)='loadUserPosts()'
      ></app-post-list>
    </div>
  </div>
</div>
